{% extends 'base.html' %}

{% block title %}Связаться с нами{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Связаться с нами</h2>
    <form method="post" action="{% url 'contact' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Форма с полями для ввода -->
        <div class="mb-3">
            {{ form.full_name.label_tag }}
            {{ form.full_name }}
            {% if form.full_name.errors %}
                <div class="text-danger">
                    {% for error in form.full_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="text-danger">
                    {% for error in form.phone.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Добавляем поле для email -->
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {% if form.description.errors %}
                <div class="text-danger">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Добавляем поле для загрузки файла -->
        <div class="mb-3">
            <label for="file" class="form-label">Выберите файл</label>
            <input type="file" name="file" class="form-control" id="file">
        </div>

        <!-- Кнопка отправки -->
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
