<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of {{ contact_request.full_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Детали заявки</h1>

        <dl class="row">

            <dt class="col-sm-3">ФИО</dt>
            <dd class="col-sm-9">{{ contact_request.full_name }}</dd>

            <dt class="col-sm-3">Телефон</dt>
            <dd class="col-sm-9">{{ contact_request.phone }}</dd>

            <dt class="col-sm-3">Почта</dt>
            <dd class="col-sm-9">{{ contact_request.email|default:"-" }}</dd>

            <dt class="col-sm-3">Описание</dt>
            <dd class="col-sm-9">{{ contact_request.description|default:"-" }}</dd>

            <dt class="col-sm-3">Статус заявки</dt>
            <dd class="col-sm-9">{{ contact_request.status }}</dd>

            <dt class="col-sm-3">Создана:</dt>
            <dd class="col-sm-9">{{ contact_request.created_at|date:"Y-m-d H:i:s" }}</dd>

            <dt class="col-sm-3">Файл</dt>
            <dd class="col-sm-9">
                {% if contact_request.file %}
                    <a href="{{ contact_request.file.url }}" target="_blank" class="btn btn-sm btn-success">Download</a>
                {% else %}
                    -
                {% endif %}
            </dd>
        </dl>

        <a href="{% url 'contact_request_list' %}" class="btn btn-secondary mt-3">Назад к списку заявок</a>
    </div>

    <!-- Подключение JS фреймворка (например, Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
