{% extends 'base.html' %}

{% block title %}Главная - ИП Чумаков{% endblock %}

{% block content %}
<section class="bg-light text-center py-5">
    <div class="container">
        <h2 class="display-5">Бухгалтерия вашей мечты</h2>
        <p class="lead">Мы помогаем бизнесу сосредоточиться на главном, беря на себя всю бухгалтерскую рутину.</p>
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#contactModal">Связаться с нами</button>
    </div>
</section>
{% endblock %}
